/* Footer
------------------------------------------------------------*/

.c-footer {
  opacity: 0;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    background-color: transparent;
    padding: 30px 35px;

    @include maxW(834px) {
      padding: 15px;

      display: flex;
      justify-content: space-between;
    }
  }

  &__left {
    text-align: left;
  }

  &__backtotop {
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    @include maxW(834px) {
      svg {
        width: 10px;
        margin-top: -2px;
      }
    }
  }

  &__center {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;

    @include mid(true);
    gap: 20px;

    @include maxW(834px) {
      font-size: 1.1rem;
      gap: 10px;
    }
  }

  &.work-slide {
    .c-footer__right {
      font-size: 1.3rem;
      text-transform: uppercase;

      position: relative;
      z-index: 9;

      a {
        &:first-child {
          margin-right: 20px;
        }
      }

      @include maxW(834px) {
        font-size: 1.2rem;
      }
    }
  }

  &.work-scroll {
    display: none;
  }

  &__right {
    text-align: right;
    font-size: 1.2rem;

    @include maxW(834px) {
      font-size: 1rem;
    }
  }
}
