/* Header
------------------------------------------------------------*/

.c-header {
  opacity: 0;

  &__wrapper {
    position: fixed;
    z-index: 99;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 35px;

    @include maxW(834px) {
      padding: 15px;
    }
  }

  &.work-slide {
    .c-header__left {
      h2 {
        font-size: 1.7rem;
      }

      @include maxW(834px) {
        width: 60%;
        h2 {
          font-size: 1.6rem;
        }
      }
    }

    .c-header__right {
      @include maxW(834px) {
        flex: 1;
        p {
          text-align: right;
        }
      }
    }
  }

  &__left {
    h2 {
      font-family: $test-domaine-fonts;
      font-weight: 400;
      font-size: 2.2rem;
    }

    a {
      font-family: $test-domaine-fonts;
      font-size: 2.2rem;

      @include maxW(834px) {
        font-size: 1.8rem;
      }
    }
  }

  &__right {
    font-size: 1.3rem;
    a {
      text-transform: uppercase;

      &:first-child {
        margin-right: 20px;
      }
    }

    @include maxW(834px) {
      font-size: 1.2rem;

      a {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
