/* layout
------------------------------------------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $gray-cl;
  font-family: $main-fonts;
  font-style: normal;
  color: $main-text-cl;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $gray-cl;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  &.fadeout::after {
    opacity: 1;
  }

  &.active {
    overflow: hidden;
  }
}

main {
  flex: 1;
}

//-------------------------------------------------------
.l-container {
  width: $base-width;
  margin: 0 auto;
  position: relative;
}

.sp-only {
  display: none !important;
}
@include maxW(834px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
//-------------------------------------------------------
