/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: "neue-haas-grotesk-text", "fot-cezanne-pron", sans-serif;
$test-domaine-fonts: "test-domaine-r", sans-serif;

//color common
$main-text-cl: #000;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #EDEDED;
