@font-face {
  font-family: "test-domaine-r";
  src: url("./TestDomaineText-Regular.woff2") format("woff2"),
    url("./TestDomaineText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
