/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.p-top {
  margin-top: 120px;

  @include maxW(834px) {
    margin-top: 80px;
  }

  &__wrapper {
    padding: 0 50px;

    @include maxW(834px) {
      padding: 0 30px;
    }
  }

  &__figure:hover {
    img {
      filter: invert(1);
    }

    .p-top__content {
      opacity: 1;
      visibility: visible;

      span {
        transform: translate(0, 0);
      }
    }

    @include maxW(834px) {
      img {
        filter: unset;
      }
    }
  }

  &__figure {
    width: 100%;
    height: fit-content;
    position: relative;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      transition: all 0.6s ease-in-out;
    }
  }

  &__content {
    position: absolute;
    margin-top: 12px;
    width: fit-content;

    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-in-out;

    span {
      display: block;
      transition: 0.8s cubic-bezier(0.77, 0, 0.175, 1);
      transform: translate(0, 100%);
    }

    h2 {
      font-family: $test-domaine-fonts;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.82;
      overflow: hidden;
    }

    p {
      font-size: 1.2rem;
      line-height: 2;
      overflow: hidden;
    }

    @include maxW(834px) {
      display: none;
    }
  }

  &__bottom {
    margin-bottom: 145px;

    h2 {
      margin-bottom: 140px;

      font-family: $test-domaine-fonts;
      font-weight: 400;
      font-size: 3.4rem;
      line-height: 1.74;
      width: 65%;
    }

    @include maxW(834px) {
      margin-bottom: 90px;

      h2 {
        font-size: 2.2rem;
        margin-bottom: 80px;
        width: 100%;
      }
    }
  }

  &__statement {
    display: flex;
    align-items: flex-start;
  }

  &__lang {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;

    p {
      cursor: pointer;
      font-size: 1.4rem;
      text-transform: uppercase;
      opacity: 0.3;
      transition: all 0.3s linear;

      &.active {
        opacity: 1;
      }
    }

    span {
      opacity: 0.3;
    }

    @include maxW(834px) {
      writing-mode: vertical-lr;
      width: fit-content;
      margin-right: 80px;
      margin-top: 5px;
    }
  }

  &__text {
    flex: 1;
    font-size: 1.5rem;
    line-height: 1.93;

    display: none;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s ease 1 forwards;

    &.active {
      display: block;
    }

    @include maxW(834px) {
      font-size: 1.4rem;
      line-height: 1.75;
    }
  }
}

/* -------------------------------- masonary -------------------------------- */

.p-top__grid {
  margin: 0 auto;

  .grid-item {
    width: 50%;
    height: auto;
    margin-bottom: 300px;

    &:hover {
      opacity: 1 !important;

      img {
        opacity: 1 !important
      }
    }

    @include maxW(834px) {
      width: 100%;
      margin-bottom: 150px;
    }

    &:nth-child(odd) {
      left: 0 !important;
      right: auto !important;
    }
    &:nth-child(even) {
      left: auto !important;
      right: 0 !important;
    }

    &:nth-child(2) {
      margin-top: 300px;

      @include maxW(834px) {
        margin-top: 0;
      }
    }

    &.size-l,
    &.size-xl {
      margin-left: -50px;
      margin-right: -50px;
      margin-bottom: 250px;

      @include maxW(834px) {
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 150px;
      }
    }

    &.size-xl {
      width: 100vw;
    }

    &.size-l {
      width: 80vw;

      @include maxW(834px) {
        width: 100vw;
      }
    }

    &.size-m {
      figure {
        width: 100%;
      }
    }

    &.size-s {
      figure {
        width: 70%;
      }
    }

    &.size-xs {
      figure {
        width: 50%;
      }
    }

    &.position-right {
      justify-content: flex-end;
      align-items: flex-end;
    }

    &.position-left {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &.position-center {
      justify-content: center;
      align-items: center;
    }

    @include maxW(834px) {
      &.sp-size-xl {
        width: 100vw !important;

        figure {
          img {
            aspect-ratio: 1/1;
          }
        }
      }

      &.sp-size-l {
        width: 100vw !important;
      }

      &.sp-size-m {
        figure {
          width: 100% !important;
        }
      }

      &.sp-size-s {
        figure {
          width: 70% !important;
        }
      }

      &.sp-size-xs {
        figure {
          width: 50% !important;
        }
      }

      &.sp-position-right {
        justify-content: flex-end !important;
        align-items: flex-end !important;
      }

      &.sp-position-left {
        justify-content: flex-start !important;
        align-items: flex-start !important;
      }

      &.sp-position-center {
        justify-content: center !important;
        align-items: center !important;
      }
    }
  }
}

@include minW(835px) {
  .grid-item.size-l + div + div,
  .grid-item.size-xl + div + div {
    margin-top: 300px;
  }
}
