/* -------------------------------------------------------------------------- */
/*                                  info page                                 */
/* -------------------------------------------------------------------------- */

.p-info {
  margin-top: 180px;
  margin-bottom: 100px;

  @include maxW(834px) {
    margin-top: 120px;
    margin-bottom: 90px;
  }

  &__wrapper {
    padding: 0 35px;
    display: flex;

    @include maxW(834px) {
      padding: 0 15px;
      display: block;
    }
  }

  &__left {
    width: 50%;

    @include maxW(834px) {
      width: 100%;
    }
  }

  &__right {
    flex: 1;

    @include maxW(834px) {
      padding-left: 95px;
      padding-top: 80px;
    }
  }

  &__tabs {
    font-family: $test-domaine-fonts;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;

    li {
      position: relative;
      width: fit-content;
      cursor: pointer;

      &.active:after {
        content: "";
        position: absolute;
        top: 15px;
        right: -25px;
        width: 5px;
        height: 5px;
        background-color: $black-cl;
        border-radius: 50%;
      }
    }

    @include maxW(834px) {
      font-size: 1.7rem;
    }
  }

  &__lang {
    margin-top: 35px;

    display: flex;
    align-items: center;
    gap: 12px;

    p {
      opacity: 0.3;
      text-transform: uppercase;
      font-size: 1.4rem;
      cursor: pointer;

      transition: all 0.3s linear;

      &.active {
        opacity: 1;
      }
    }

    span {
      opacity: 0.3;
    }

    @include maxW(834px) {
      position: fixed;
      writing-mode: vertical-rl;
      margin-top: 87px;

      p {
        font-size: 1.3rem;
      }
    }
  }

  &__items {
    display: none;

    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s ease 1 forwards;

    &.active {
      display: block;
    }
  }

  &__title {
    font-family: $test-domaine-fonts;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 25px;

    @include maxW(834px) {
      font-size: 1.6rem;
      line-height: 1.75;
      margin-bottom: 20px;
    }
  }

  &__profile {
    font-size: 1.4rem;
    line-height: 1.89;

    margin-bottom: 45px;

    a {
      text-decoration: underline;
    }

    @include maxW(834px) {
      font-size: 1.3rem;
      line-height: 1.77;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;

    p {
      font-size: 1.4rem;
      line-height: 1.93;
    }

    @include maxW(834px) {
      margin-bottom: 15px;

      p {
        font-size: 1.3rem;
        line-height: 1.77;
      }
    }
  }

  &__year {
    width: 15%;

    @include maxW(834px) {
      width: 22%;
    }
  }

  &__content {
    flex: 1;
  }

  &__fields {
    margin-bottom: 45px;

    @include maxW(834px) {
      margin-bottom: 35px;
    }
  }

  .lang-en,
  .lang-jp {
    display: none;

    opacity: 0;
    animation: fadeIn 1s ease-in-out 1 forwards;

    &.active {
      display: block;
    }
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: none;
  }
}
