/* -------------------------------------------------------------------------- */
/*                                 works page                                 */
/* -------------------------------------------------------------------------- */

.p-work {
  &__wrapper {
    position: fixed;
    height: 100vh;
    width: 100%;

    @include mid(true);
  }

  &__slide {
    width: 100%;
    height: 100%;

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;

    padding: 100px 0;

    .swiper-button-next {
      position: absolute;
      top: 0;
      right: 0;
    }

    .swiper-button-prev {
      position: absolute;
      top: 0;
      left: 0;
    }

    .button-swiper {
      font-size: 0;
      border: 0;
      padding: 0;
      width: 18%;
      height: 100%;
      background-color: transparent;
      z-index: 1;
      cursor: none;

      &::after {
        content: "";
      }

      @include maxW(1023px) {
        display: none;
      }
    }
  }

  &__control {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
  }
}
