/* -------------------------------------------------------------------------- */
/*                                 works page                                 */
/* -------------------------------------------------------------------------- */

.p-work {
  &__wrapper {
    position: fixed;
    height: 100vh;
    width: 100%;

    @include mid(true);
  }

  //   slide =================

  &__slide {
    width: 100%;
    height: 100%;

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;

    padding: 100px 0;

    @include maxW(834px) {
      padding: 224px 30px;
    }

    .swiper-slide.swiper-slide-active {
      .caption {
        opacity: 1;
      }
    }

    .caption {
      position: absolute;
      width: 100%;
      bottom: -70px;
      text-align: center;

      opacity: 0;
      transition: opacity 1s ease-in-out;

      h2 {
        font-size: 1.3rem;
        font-weight: 400;
      }

      @include maxW(834px) {
        bottom: -209px;
        left: 80px;
        width: 50%;
        text-align: start;

        h2 {
          font-size: 1.2rem;
        }
      }
    }

    .swiper-button-next {
      position: absolute;
      top: 0;
      right: 0;
    }

    .swiper-button-prev {
      position: absolute;
      top: 0;
      left: 0;
    }

    .button-swiper {
      font-size: 0;
      border: 0;
      padding: 0;
      width: 18%;
      height: 100%;
      background-color: transparent;
      z-index: 1;
      cursor: none;

      &::after {
        content: "";
      }

      @include maxW(1023px) {
        display: none;
      }
    }
  }

  &__control {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
  }

  &__counter {
    position: absolute;
    bottom: 30px;
    left: 35px;
    z-index: 10;
    font-size: 1.3rem;

    span {
      margin: 0 5px;
    }

    display: flex;
    align-items: center;

    @include maxW(834px) {
      bottom: 15px;
      left: 15px;
      font-size: 1.2rem;
    }
  }

  //   scroll =================

  &__scroll {
    
  }
}
