/* -------------------------------------------------------------------------- */
/*                                 works page                                 */
/* -------------------------------------------------------------------------- */

.p-work {
  &__wrapper {
    position: fixed;
    height: 100vh;
    width: 100%;

    @include mid(true);

    &.work-scroll {
      position: relative;
      height: auto;
      padding: 0 15px;
    }
  }

  //   slide =================

  &__slide {
    width: 100%;
    height: 100%;

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;

    padding: 100px 0;

    @include maxW(834px) {
      padding: 224px 30px;
    }

    .swiper-slide.swiper-slide-active {
      .caption {
        opacity: 1;
      }
    }

    .caption {
      position: absolute;
      width: 100%;
      bottom: -70px;
      text-align: center;

      opacity: 0;
      transition: opacity 1s ease-in-out;

      h2 {
        font-size: 1.3rem;
        font-weight: 400;
      }

      @include maxW(834px) {
        bottom: -209px;
        left: 80px;
        width: 50%;
        text-align: start;

        h2 {
          font-size: 1.2rem;
        }
      }
    }

    .swiper-button-next {
      position: absolute;
      top: 0;
      right: 0;
    }

    .swiper-button-prev {
      position: absolute;
      top: 0;
      left: 0;
    }

    .button-swiper {
      font-size: 0;
      border: 0;
      padding: 0;
      width: 18%;
      height: 100%;
      background-color: transparent;
      z-index: 1;
      cursor: none;

      &::after {
        content: "";
      }

      @include maxW(834px) {
        display: none;
      }
    }
  }

  &__control {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
  }

  &__counter {
    position: absolute;
    bottom: 30px;
    left: 35px;
    z-index: 10;
    font-size: 1.3rem;

    span {
      margin: 0 5px;
    }

    display: flex;
    align-items: center;

    @include maxW(834px) {
      bottom: 15px;
      left: 15px;
      font-size: 1.2rem;
    }
  }

  //   scroll =================

  &__scroll {
    z-index: 1;
    width: auto;
    height: 100vh;

    ul {
      display: flex;
      justify-content: flex-start;
      height: 100%;

      li {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .content-text {
      margin-bottom: 90px;
      margin-top: 160px;

      p,
      a {
        font-size: 1.2rem;
        line-height: 1.79;
      }
      a {
        text-decoration: underline;
      }
    }

    @include maxW(834px) {
      height: auto;
      margin-top: 180px;

      ul {
        display: block;
        padding: 0 15px;
      }
    }
  }

  &__block {
    width: 100vw;
    height: 100%;
    margin-right: 250px;

    &:first-child {
      margin-left: 300px;
    }

    &--xl {
      width: calc(100vw - 262px);
      display: block !important;

      figure {
        height: 100%;
      }
    }

    &--l {
      width: 33vw;
    }

    &--m {
      width: 25.5vw;
    }

    &--s {
      width: 17vw;
    }

    @include maxW(834px) {
      width: 100% !important;
      margin-right: 0;
      margin-bottom: 120px;

      &:first-child {
        margin-left: 0;
      }

      &--xl {
        figure {
          width: 100%;
        }
      }

      &--l {
        figure {
          width: 80%;
        }
      }

      &--m {
        figure {
          width: 60%;
        }
      }

      &--s {
        figure {
          width: 40%;
        }
      }
    }
  }

  &__figure {
    position: relative;
    height: auto;
    width: 100%;

    img {
      padding-bottom: 35px;
    }

    p {
      position: absolute;
      bottom: 10px;
      left: 0;
      font-size: 1.2rem;
    }

    @include maxW(834px) {
      img {
        padding-bottom: 0;
      }

      p {
        bottom: -20px;
      }
    }
  }
}

/* -------------------------------- position -------------------------------- */

.p-work__block {
  &.position-top {
    align-items: flex-start;
  }

  &.position-center {
    align-items: center;
  }

  &.position-bottom {
    align-items: flex-end;
  }

  @include maxW(834px) {
    &.sp-position-right {
      justify-content: flex-end;
    }

    &.sp-position-left {
      justify-content: flex-start;
    }

    &.sp-position-center {
      justify-content: center;
    }
  }
}
